<div class="form-group">
    <label>Select the subject</label>
    <ul class="pills">
        <li>Science & Nature</li>
        <li>Media & TV</li>
        <li>Language & Books</li>
        <li>Sports & Games</li>
        <li>World & Politics</li>
        <li>Music & Sound</li>
        <li>Arts & Culture</li>
        <li>Home & Garden</li>
    </ul>
</div>
<div class="question-edit-box" contenteditable [ceModel]="question" (ceUpdate)="questionUpdated($event)"></div>
<div class="answer-edit-box">
    <label>Antwoord</label>
    <div contenteditable [ceModel]="answer" (ceUpdate)="answerUpdated($event)">
    </div>
</div>