$color1: #31af79;
$color2: #28a2c1;
$color3: #2f68b8;
$color4: #916be3;
$color5: #c75499;
$color6: #bd4a3b;

$background-color: #fff;
$backpanel-color: #f5f5f5;
$text-color: #444;

$nav-color: #31af79;
$nav-text-color: $background-color;
$nav-active-color: $background-color;
$nav-active-text-color: $text-color;

$question-edit-box-color: $backpanel-color;
$question-edit-box-text-color: $text-color;
$answer-edit-box-color: #3b5c6b;
$answer-edit-box-text-color: $background-color;

$pill-text-color: $text-color;
$pill-color: #f7f7f7;
$pill-active-text-color: $background-color;

$grid-h: 2.4rem;
$grid-v: 2.4rem;
$nav-height: $grid-v * 2;

$question-box-font-family: Georgia;